{
  "presets": [
    ["babel-preset-expo", { "jsxRuntime": "automatic" }]
  ],
  "env": {
    "test": {
      "presets": [
        ["babel-preset-expo", { "jsxRuntime": "automatic" }]
      ],
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    }
  },
  "plugins": []
}
